{% extends "layout_search_results.html" %}

{% block content %}
    <h3>Search Results</h3>

<!--<div class="tableFixHead">-->
    <table class="table" id="tableFixHead">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie Id</th>
      <th scope="col">Movie Title</th>
      <th scope="col">Genre Id</th>
      <th scope="col">Genre</th>
      <th scope="col">Year</th>
      <th scope="col">Review Rating</th>
      <th scope="col">Language</th>
      <th scope="col">Info</th>
      <th scope="col">Actor Id</th>
      <th scope="col">Actor Name</th>
      <th scope="col">Character Name</th>
      <th scope="col">Runtime</th>
      <th scope="col">Censor Rating</th>
      <th scope="col">Production Company</th>

      
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for i in movies_dict_jinja %}
      <th scope="row">{{ loop.index }}</th>
      <td>{{ i.id }}</td>
      <td>{{ i.title }}</td>
      <td>{{ i["genre.id"] }}</td>
      <td>{{ i.genre }}</td>
      <td>{{ i.year }}</td>
      <td>{{ i.reviewrating }}</td>
      <td>{{ i.language }}</td>
      <td>{{ i.info }}</td>
      <td>{{ i["actor.id"] }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i["character.name"] }}</td>
      <td>{{ i.runtime }}</td>
      <td>{{ i["censorrating.censorrating"] }}</td>
      <td>{{ i["productioncompany.name"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!--</div>-->
{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->







<!--PREVIOUS USE OF LIST TO SHOW DB-->

<!--    <ol id=''>-->
<!--    {% for i in all_movies_jinja %}-->
<!--    <li>-->
<!--        <div style='container'>-->
<!--            <p>Movie Id : {{ i.id }}</p>-->
            
<!--            <p>Movie Title : {{ i.title }} <a href="/edit/{{i.todo_id}}">[Edit]</a></p>-->
            
<!--            <p>Genre Id : {{ i["genre.id"] }}</p>-->
<!--            <p>Genre : {{ i.genre }}</p>-->

<!--            <p>Year : {{ i.year }}</p>-->

<!--            <p>Review Rating : {{ i.reviewrating }}</p>-->
            
<!--            <p>Info : {{ i.info }}</p>-->
            
<!--            <p>Actor Id : {{ i["actor.id"] }}</p>-->
<!--            <p>Actor Name : {{ i.name }}</p>-->

<!--            <p>Character Name : {{ i["character.name"] }}</p>-->
            
<!--            <p>Runtime : {{ i.runtime }} minutes</p>-->

<!--            <p>Censor Rating : {{ i["censorrating.censorrating"] }}</p>-->
            
<!--        </div>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ol>-->