{% extends "layout_search_results.html" %}

{% block content %}
    <h1  style="color: white">All Movies in the Database</h1>
    <h4> <em>(click on each header to sort)</em> </h4>
      <!--class="headerSortUp headerSortDown" -->
      <!--class="table-sortable"-->
<!--<div class="table-responsive">-->
  <table class="table sortable" id="tableFixHead">
  <thead class="thead-dark">
    <tr>
      <!--class="sort-by"-->
      <th class="th_sort" scope="col">#</th>
      <th class="th_sort" scope="col">Movie Id</th>
      <th class="th_sort" scope="col">Movie Title</th>
      <th class="th_sort" scope="col">Genre Id</th>
      <th class="th_sort" scope="col">Genre</th>
      <th class="th_sort" scope="col">Year</th>
      <th class="th_sort" scope="col">Review Rating</th>
      <th class="th_sort" scope="col">Language</th>
      <th class="th_sort" scope="col">Info</th>
      <th class="th_sort" scope="col">Actor Id</th>
      <th class="th_sort" scope="col">Actor Name</th>
      <th class="th_sort" scope="col">Character Id</th>
      <th class="th_sort" scope="col">Character Name</th>
      <th class="th_sort" scope="col">Runtime</th>
      <th class="th_sort" scope="col">Censor Rating</th>
      <th class="th_sort" scope="col">Production Company</th>
      <th scope="col">Edit Movie</th>
      <th scope="col">Delete Movie</th>

    </tr>
  </thead>
  <tbody>
    <tr>
    {% for i in all_movies_jinja %}
      <th class="table-responsive" id="dtBasicExample" scope="row">{{ loop.index }}</th>
      <td>{{ i.id }}</td>
      <td>{{ i.title }}</td>
      <td>{{ i["genre.id"] }}</td>
      <td>{{ i.genre }}</td>
      <td>{{ i.year }}</td>
      <td>{{ i.reviewrating }}</td>
      <td>{{ i.language }}</td>
      <td>{{ i.info }}</td>
      <td>{{ i["actor.id"] }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i["character.id"] }}</td>
      <td>{{ i["character.name"] }}</td>
      <td>{{ i.runtime }}</td>
      <td>{{ i["censorrating.censorrating"] }}</td>
      <td>{{ i["productioncompany.name"] }}</td>
      <td><a href="/edit/{{ i.id }}" class="btn btn-outline-warning">Edit</a></td> <!--id here same as table column name-->
      <td><a href="/delete/{{ i.id }}" class="btn btn-outline-danger">Delete</a></td> <!--id here same as table column name-->
    </tr>
    {% endfor %}
  </tbody>
</table>
<!--</div>-->


{% endblock %}




<!--PREVIOUS USE OF LIST TO SHOW DB-->

<!--    <ol id=''>-->
<!--    {% for i in all_movies_jinja %}-->
<!--    <li>-->
<!--        <div style='container'>-->
<!--            <p>Movie Id : {{ i.id }}</p>-->
            
<!--            <p>Movie Title : {{ i.title }} <a href="/edit/{{i.todo_id}}">[Edit]</a></p>-->
            
<!--            <p>Genre Id : {{ i["genre.id"] }}</p>-->
<!--            <p>Genre : {{ i.genre }}</p>-->

<!--            <p>Year : {{ i.year }}</p>-->

<!--            <p>Review Rating : {{ i.reviewrating }}</p>-->
            
<!--            <p>Info : {{ i.info }}</p>-->
            
<!--            <p>Actor Id : {{ i["actor.id"] }}</p>-->
<!--            <p>Actor Name : {{ i.name }}</p>-->

<!--            <p>Character Name : {{ i["character.name"] }}</p>-->
            
<!--            <p>Runtime : {{ i.runtime }} minutes</p>-->

<!--            <p>Censor Rating : {{ i["censorrating.censorrating"] }}</p>-->
            
<!--        </div>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ol>-->