{% extends "layout_index.html" %}

{% block content %}
	


<div class="container">
<h1>FILTER MOVIES HERE</h1>
    <div class="container">
    	<h4>Choose an option</h4>
        	 <form method='GET'>
                <div class="formtext">
                    <div class="deletepage_div_column" >
                        <label>Review Rating : </label>
                    </div>
                    <div class="deletepage_div_column" >
                        <select name='input_name_reviewrating' required>
                            {% for i in all_reviewratings_jinja %}
                                <option value='{{i.id}}'>{{i.id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type='submit'>
                    <!--<input type='submit' name="filter_input_name">-->
                    <!--<input type='submit' name="filter_input_name" value="Submit">-->
                    <!--<input type='submit' value="Submit">-->
                    <!--<input type='submit' name='input_name_genre'>-->
                </div>
                <p></p>
                
                
                

            </form>   
        </div>
        
   
        
</div>

{% endblock %}