{% extends "layout_search_results.html" %}

{% block content %}

    <h1>Filter Results</h1>
    <h4> <em>(click "Back" on your browser to choose another option, or click "Filter By" to change selection)</em> </h4>
    <p></p>
        <p class="filter_results_p"> Total movies found for filter "
            {{ genre_name_jinja }}
            {{ language_name_jinja }}
            {{ year_name_jinja }}
            {{ censorrating_name_jinja }}
            {{ reviewrating_name_jinja }}
            " 
            = 
            
            {{ genre_count_jinja }}
            {{ language_count_jinja }}
            {{ year_count_jinja }}
            {{ censorrating_count_jinja }}
            {{ reviewrating_count_jinja }}
        </p>
    
    
	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				{% for i in all_movies_jinja %}
				<!-- card -->
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					<!--<div class="card">-->
						<!--<div class="card__cover">-->
							<!--<img src="img/covers/cover.jpg" alt="">-->
							<!--<a href="#" class="card__play">-->
						<!--		<i class="icon ion-ios-play"></i>-->
						<!--	</a>-->
						<!--</div>-->
						<div class="card__content">
							<h3 class="card__title"><a href="/single_movie/{{ i.id }}">{{ i.title }}</a></h3>
							<span class="card__category">
								<a href="#">{{ i.genre }}</a>
							</span>
							<span class="card__rate"><i class="icon ion-ios-star"></i>{{ i.reviewrating }}</span>
							<span class="card__category">{{ i.year }}</span>
							<span class="card__category">{{ i.language }}</span>
							<p>{{ i["censorrating.censorrating"] }}</p>
						</div>
					</div>
				<!--</div>-->
				<!-- end card -->				
				{% endfor %}
				
				
				
				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
					<!--<div class="card">-->
						<!--<div class="card__cover">-->
							<!--<img src="img/covers/cover.jpg" alt="">-->
							<!--<a href="#" class="card__play">-->
						<!--		<i class="icon ion-ios-play"></i>-->
						<!--	</a>-->
						<!--</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Action</a>-->
				<!--				<a href="#">Triler</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover2.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Benched</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover3.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Whitney</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Romance</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--				<a href="#">Music</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover4.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Blindspotting</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover5.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Action</a>-->
				<!--				<a href="#">Triler</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover6.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Benched</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover6.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Whitney</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Romance</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--				<a href="#">Music</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover5.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Blindspotting</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover4.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Action</a>-->
				<!--				<a href="#">Triler</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover3.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Benched</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover2.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Whitney</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Romance</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--				<a href="#">Music</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->

				<!-- card -->
				<!--<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
				<!--	<div class="card">-->
				<!--		<div class="card__cover">-->
				<!--			<img src="img/covers/cover.jpg" alt="">-->
				<!--			<a href="#" class="card__play">-->
				<!--				<i class="icon ion-ios-play"></i>-->
				<!--			</a>-->
				<!--		</div>-->
				<!--		<div class="card__content">-->
				<!--			<h3 class="card__title"><a href="#">Blindspotting</a></h3>-->
				<!--			<span class="card__category">-->
				<!--				<a href="#">Comedy</a>-->
				<!--				<a href="#">Drama</a>-->
				<!--			</span>-->
				<!--			<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				<!-- end card -->


		</div>
	</div>
	<!-- end catalog -->

{% endblock %}



				<!-- paginator -->
			<!--	<div class="col-12">-->
			<!--		<ul class="paginator">-->
			<!--			<li class="paginator__item paginator__item--prev">-->
			<!--				<a href="#"><i class="icon ion-ios-arrow-back"></i></a>-->
			<!--			</li>-->
			<!--			<li class="paginator__item"><a href="#">1</a></li>-->
			<!--			<li class="paginator__item paginator__item--active"><a href="#">2</a></li>-->
			<!--			<li class="paginator__item"><a href="#">3</a></li>-->
			<!--			<li class="paginator__item"><a href="#">4</a></li>-->
			<!--			<li class="paginator__item paginator__item--next">-->
			<!--				<a href="#"><i class="icon ion-ios-arrow-forward"></i></a>-->
			<!--			</li>-->
			<!--		</ul>-->
			<!--	</div>-->
				<!-- end paginator -->
			<!--</div>-->
			
			

	<!-- expected premiere -->
	<!--<section class="section section--bg" data-bg="img/section/section.jpg">-->
	<!--	<div class="container">-->
	<!--		<div class="row">-->
				<!-- section title -->
	<!--			<div class="col-12">-->
	<!--				<h2 class="section__title">Expected premiere</h2>-->
	<!--			</div>-->
				<!-- end section title -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Action</a>-->
	<!--							<a href="#">Triler</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover3.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">Benched</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Comedy</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover2.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">Whitney</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Romance</a>-->
	<!--							<a href="#">Drama</a>-->
	<!--							<a href="#">Music</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>6.3</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover6.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">Blindspotting</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Comedy</a>-->
	<!--							<a href="#">Drama</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>7.9</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover4.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Action</a>-->
	<!--							<a href="#">Triler</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- card -->
	<!--			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">-->
	<!--				<div class="card">-->
	<!--					<div class="card__cover">-->
	<!--						<img src="img/covers/cover5.jpg" alt="">-->
	<!--						<a href="#" class="card__play">-->
	<!--							<i class="icon ion-ios-play"></i>-->
	<!--						</a>-->
	<!--					</div>-->
	<!--					<div class="card__content">-->
	<!--						<h3 class="card__title"><a href="#">Benched</a></h3>-->
	<!--						<span class="card__category">-->
	<!--							<a href="#">Comedy</a>-->
	<!--						</span>-->
	<!--						<span class="card__rate"><i class="icon ion-ios-star"></i>7.1</span>-->
	<!--					</div>-->
	<!--				</div>-->
	<!--			</div>-->
				<!-- end card -->

				<!-- section btn -->
	<!--			<div class="col-12">-->
	<!--				<a href="#" class="section__btn">Show more</a>-->
	<!--			</div>-->
				<!-- end section btn -->
	<!--		</div>-->
	<!--	</div>-->
	<!--</section>-->
	<!-- end expected premiere -->
