{% extends "layout_index.html" %}

{% block content %}



<div class="container">
	<h1>Welcome to CinemaTronix – The Movie Database of the Galaxy</h1>
	<p class="home_p">&#9658; &nbsp; Click the 'Magnifying Glass' &#128269; to search</p>
	<div class="container" id="home_div_ul_li">
		Enter ONLY 1 keyword. Your keyword can be part of a :
		<ul id="home_ul_li">
			<li>movie title</li>
			<li>genre <em>(81 pure and sub-genres available)</em></li>
			<li>year of release <em>(range from 1888 to present year)</em></li>
			<li>language <em>(175 available)</em></li>
			<li>censor rating <em>( G, PG13, NC16, M18, R21, R(A) )</em></li> 
			<li>actor/actress name</li>
			<li>movie character name</li>
			<li>production company name</li>
		</ul>
	</div>
	&#8203;
	<p></p>

	<p class="home_p">&#9658; &nbsp; Click 'Add Movie' &#127909; to add movies' information into the database</p>
	&#8203;

	<p class="home_p">&#9658; &nbsp; Click 'Full Database' &#128421; to view all movies in the database</p>
	<div class="container" id="home_div_ul_li">
		You'll be able to <em>Edit</em> or <em>Delete</em> movies in the database
	</div>
</div>




{% endblock %}