<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plyr.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/default-skin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mystyle.css') }}">

	<!-- Favicons -->
	<!--<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">-->
	<!--<link rel="apple-touch-icon"                    href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">-->
	<!--<link rel="apple-touch-icon" sizes="72x72"      href="{{ url_for('static', filename='icon/apple-touch-icon-72x72.png') }}">-->
	<!--<link rel="apple-touch-icon" sizes="114x114"    href="{{ url_for('static', filename='icon/apple-touch-icon-114x114.png') }}">-->
	<!--<link rel="apple-touch-icon" sizes="144x144"    href="{{ url_for('static', filename='icon/apple-touch-icon-144x144.png') }}">-->

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="RocZi">
	
    /*<style>*/
  /*    h1, h2, h3, tbody, .container, form */
  /*    {	color: white; }*/
      
  /*    h1 {text-decoration: underline;}*/
      
      /*input {-webkit-appearance: ;}*/
     
  /*   select::-ms-expand { display: block; }*/
     
  /*    textarea { vertical-align: top; }*/
      
  /*    #logo_pic { width:auto; max-width:60%;}*/
      
  /*    .home_p { font-size: 1.2em;}*/
      
  /*    .flashes */
  /*    { */
  /*    	color: #DF4F8C; */
      	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
      	/*-webkit-text-stroke-color: white;*/
      	/*color: white;*/
		-webkit-text-fill-color: #DF4F8C; /* Will override color (regardless of order) */
		/*-webkit-text-stroke-width: 0.05px;*/
		/*-webkit-text-stroke-color: white;*/
		/*font-size: 1.1rem;*/
  /*    }*/

  /*    #home_div_ul_li*/
  /*    {*/
  /*  	padding-left: 3em;*/
    	/*border-left: 3em;*/
    	/*margin-left: 3em;*/
  /*    }*/
      
  /*    #home_div_ul_li #home_ul_li li*/
  /*    {*/
  /*    	list-style-type: circle;*/
    	/*padding-left: 3em;*/
    	/*border-left: 3em;*/
    	/*margin-left: 3em;*/
    	/*list-style-position: inside;*/
 	/*	text-align: left;*/
		/*margin: 10px 0;*/
  /*    }*/
  /*    .clear { clear: both; }*/
      
  /*    ::selection {*/
	 /* background: red;*/
	  /*color: #000;*/
	  /*text-shadow: none;*/
		/*}*/


      <!--</style>--> <!--backup-->

	<title>CinemaTronix – Movies Database Galore</title>

</head>

<body class="body">
    	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content" >
							 
							<!-- header logo -->
							<!--<a href="index.html" class="header__logo">-->
								<!--<img src="{{ url_for("static", filename="assets/css/ionicons.min.css") }}">-->
								<img id="logo_pic" src="{{ url_for("static", filename="assets/img/CinemaTronix (cropped) (resized90h).png") }}">
	<!--<link rel="stylesheet" alt="" href="{{ url_for("static", filename="assets/img/CinemaTronix(cropped).png") }}">-->
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<!--<li class="header__nav-item">-->
								<!--	<a class="dropdown-toggle header__nav-link" href="http://backend-assignment3-roczi.c9users.io:8080/" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>-->

									<!--<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuHome">-->
										<!--<li><a href="index.html">Home slideshow bg</a></li>-->
										<!--<li><a href="index2.html">Home static bg</a></li>-->
									<!--</ul>-->
								<!--</li>-->
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="http://backend-assignment3-roczi.c9users.io:8080/" class="header__nav-link">Home</a>
								</li>

								<li class="header__nav-item">
									<a href="http://backend-assignment3-roczi.c9users.io:8080/add" class="header__nav-link">Add Movie</a>
								</li>

								<li class="header__nav-item">
									<a href="http://backend-assignment3-roczi.c9users.io:8080/database" class="header__nav-link">Full Database</a>
								</li>
								
								<!--<li class="header__nav-item">-->
								<!--	<a href="http://backend-assignment3-roczi.c9users.io:8080/filter" class="header__nav-link">Filter</a>-->
								<!--</li>-->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Click to Filter By</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 90px, 0px);">
										<li><a href="filter_genre">Genre</a></li>
										<li><a href="filter_language">Language</a></li>
										<li><a href="filter_year">Year of Release</a></li>
										<li><a href="filter_censorrating">Censor Rating</a></li>
										<li><a href="filter_reviewrating">Review Rating</a></li>
									</ul>
								</li>
								<!-- end dropdown -->
								
								<!-- dropdown -->
								<!--<li class="dropdown header__nav-item">-->
								<!--	<a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>-->

								<!--	<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">-->
								<!--		<li><a href="about.html">About</a></li>-->
								<!--		<li><a href="signin.html">Sign In</a></li>-->
								<!--		<li><a href="signup.html">Sign Up</a></li>-->
								<!--		<li><a href="404.html">404 Page</a></li>-->
								<!--	</ul>-->
								<!--</li>-->
								<!-- end dropdown -->
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								<button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button>

								<a href="#" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>sign in</span>
								</a>
							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<form method="GET" class="header__search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
							<input type="text" placeholder="Enter ONLY 1 keyword to search for what you are looking for" name="search_input_name">

							<button type="submit" name="submit_name" value="search_submit_value">search</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end header search -->
	</header>
	<!-- end header -->
	
	<!-- home -->
	<section class="home">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="{{ url_for("static", filename="assets/img/home/home__bg.jpg") }}"></div>
			<div class="item home__cover" data-bg="{{ url_for("static", filename="assets/img/home/home__bg2.jpg") }}"></div>
			<div class="item home__cover" data-bg="{{ url_for("static", filename="assets/img/home/home__bg3.jpg") }}"></div>
			<div class="item home__cover" data-bg="{{ url_for("static", filename="assets/img/home/home__bg4.jpg") }}"></div>
		</div>
		<!-- end home bg -->
	
	
	
    {% block content %}
    {% endblock %}

	</section>
	<!-- end home -->


	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-md-3">
					<h6 class="footer__title">Download Our App</h6>
					<ul class="footer__app">
						<li><a href="#"><img alt="" src="{{ url_for("static", filename="assets/img/Download_on_the_App_Store_Badge.svg") }}"></a></li>
						<li><a href="#"><img alt="" src="{{ url_for("static", filename="assets/img/google-play-badge.png") }}"></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Resources</h6>
					<ul class="footer__list">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Pricing Plan</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Legal</h6>
					<ul class="footer__list">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
						<li><a href="mailto:support@moviego.com">support@CinemaTronix.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
						<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<small><a href="https://templatespoint.net" target="_blank">CinemaTronix</a></small>

						<ul>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ url_for('static', filename='assets/js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/wNumb.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/plyr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.morelines.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/photoswipe.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>